html{
    box-sizing:border-box;
    height: 100%;
}
#ff{
 /* The image used */
 background-image: url("GG.avif");

 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;    
}

}
body{
}
#t1{
    color: chartreuse;
    border-radius: 50vh;
    background-color: rgb(124, 80, 255);
    border-bottom: 50pc;
    background-image: image();
    text-align: center;
    
}
#bord{
    border-radius: 0in;
    box-sizing: content-box;
    color: rgb(181, 30, 30);ruby-merge:separate;
    animation-direction: alternate;
    display: ;
    text-align: center;

}
#img1b{
    width: 20%;
}
#z{
    color: rgb(255, 255, 9);
    height: 100%;
    width: 100%;

}
#u{ color: rgb(255, 255, 9);
    height: 100%;
    width: 100%;
}
#t{
    color: rgb(255, 255, 9);
    height: 100%;
    width: 100%;
}
